kana_env
kana_workout_builder_app/__pycache__/*.pyc
__pycache__/
*.py[cod]
kana_workout_builder_app/__pycache__/models.cpython-310.pyc
kana_workout_builder_app/__pycache__/urls.cpython-310.pyc
kana_workout_builder_app/__pycache__/views.cpython-310.pyc
