{% extends "kana_workout_builder_app/base.html" %} {% block page_header %}
<h3>About</h3>
{% endblock page_header %} {% block content %}
<p>
  At Kana, we believe exercise is medicine and that weight training for muscle
  and strength development is essential for health and longevity. With the
  vision of a healthier and fitter world in mind, our app enables coaches,
  athletes, and other fitness professionals to design and share training
  programs. If you routinely design strength training programs, this app will
  help you create, modify and distribute your programs more efficienly.
</p>
<h4>How it Works</h4>
<p>
  With its minimalist and user friendly interface, Kana allows you to create and
  store strength training programs for yourself or your clients. You can create
  a workout program and adding workouts with unique exercises that match your
  training goals and progression strategy.
</p>
<p>
  We welcome your feedback -- If you have any questions, concerns or
  suggestions, please get in touch via our
  <a href="{% url 'kana_workout_builder_app:contact' %}">contact page</a>.
</p>
<p>
  <a href="{% url 'users:register' %}"> Create a free account </a> and log in to
  save, create, and share your customized strength training templates!
</p>
{% endblock content %}
