{% extends "kana_workout_builder_app/base.html" %}
{% block page_header %}
<h3>Start taking control of your fitness today</h3>
{% endblock page_header %}
{% block content %}
<p>
    At Kana, we believe exercise is medicine and that weight training for muscle and strength development in particular is vital for health and longevity. Our workout builder app is intended to help you make the most of your training programs and set you up to achieve your long term goals as efficiently as possible. If you are invested in your health and share our vision of a stronger and fitter world, then this app is for you.
</p>
<p>
    Kana incorporates science-based autoregulation metrics
    that allow you to create intelligently designed training plans that will challenge you to grow stronger by helping you accurately assess difficulty, recognize weak points,
    and make consistent progress while staying free from injuries.
</p>
<p>
    We welcome your feedback -- If you have any questions, concerns or suggestions, please get in touch via our <a href="#">contact page</a>.
</p>
<p><a href="{% url 'users:register' %}"> Create a free account </a> and log in to save,
    create, and share your customized strength
    training templates!</p>
{% endblock content %}