{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kana Workout Builder</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'kana_workout_builder_app/style.css' %}" />
    {% bootstrap_css %} 
  
    {% bootstrap_javascript jquery='full' %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 border" data-bs-theme="dark">
      <a class="navbar-brand" href="{% url 'kana_workout_builder_app:index' %}">
        <i class="fa-solid fa-dumbbell fa-lg px-3"></i
          >Kana</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              href="{% url 'kana_workout_builder_app:index' %}"
              class="nav-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'kana_workout_builder_app:about' %}"
              class="nav-link"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'kana_workout_builder_app:programs' %}"
              class="nav-link"
              > Programs</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'kana_workout_builder_app:programs' %}"
              class="nav-link"
              >Workout Log </a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">Hello, <a href = "{% url 'users:edit_profile' %}">{{ user.username }}!</a> </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>{% block content %} {% endblock content %}</div>
    </main>
    
  </body>
</html>
