{% extends "kana_workout_builder_app/base.html" %}

{% block page_header %}
<div class="jumbotron">
  <h1 class="display-3">Craft your custom strength training plan</h1>
  <p class="lead">Customize your strength training workouts with the Kana workout builder app. </p>
  {% if user.is_authenticated %}
  <a href="{% url 'kana_workout_builder_app:workouts' %}" class="btn btn-lg btn-primary" role="button">Go to Workouts
    &raquo;</a>
  {% else %}
  <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary" role="button">Register &raquo;</a>
  {% endif %}
</div>

{% endblock page_header %}