{% extends "kana_workout_builder_app/base.html" %}

{% block page_header %}
<h3>{{ workout }}</h3>
{% endblock page_header %}
{% block content %}
<p>
  <a href="{% url 'kana_workout_builder_app:new_exercise' workout.id %}">Add new exercise</a>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Exercise</th>
      <th scope="col">Sets</th>
      <th scope="col">Reps</th>
      <th scope="col">RPE</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  {% for exercise in exercises %}
  <tbody class="table-group-divider">
    <tr>
      <td>{{ exercise.name }} <small><a href="{% url 'kana_workout_builder_app:edit_exercise' exercise.id %}">
            edit</a></small> </td>
      <td>{{ exercise.sets }}</td>
      <td>{{ exercise.sets }}</td>
      <td>{{ exercise.rpe }}</td>
      <td>{{ exercise.notes }}</td>
    </tr>

  </tbody>
  {% empty %}
  <p>No exercises have been added yet</p>
  {% endfor %}
</table>

{% endblock content %}