{% extends "kana_workout_builder_app/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
<h2>Change Password</h2>
{% endblock page_header %}
{% block content %}

    <form method="post" action="{% url 'users:change_password' %}" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Change Password</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'kana_workout_builder_app:index' %}">
    </form>


    {% if form.errors %}
    <p>Error changing password</p>
    {% endif %}


    {% endblock content %}

